html, body	{
	height:		100%;
	margin:		150;
}
body	{
	padding-top:	30px;
	text-align:		center;
	justify-content:	center;
	align-items: center;}


header	{
	position:		sticky;
}
table	{
	width:	600px;
}
